body,
html {
  background: rgb(251, 245, 237);
}
.vampiro-mascarada {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 153px);
}
.round {
  position: relative;
}
.round label {
  border-radius: 50%;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 0;
}
.container-hero {
  width: 1024px;

  margin: 0 auto;
  margin-top: 70px;

  padding: 100px 10px 0 10px;
  border: 3px double rgb(183, 122, 124);
  border-radius: 30px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
}

.page-general {
  display: grid;

  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  align-content: center;
}

.concept-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.habilidades-attr-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 50px);
}
.concept-container > div {
  padding-left: 15px;
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.concept-container > div > input {
  position: relative;
  width: 100%;
  border: none;
  background: rgb(251, 245, 237);
}

.atributos-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
}
.atributos {
  text-transform: uppercase;
  text-align: center;
  color: rgb(183, 122, 124);
  border-bottom: 1px solid rgb(170, 98, 102);
}

.fuerza,
.destreza,
.resistencia,
.carisma,
.manipulacion,
.compostura {
  /* border-right: 1px solid black; */
  margin-right: 5px;
}

.fuerza,
.destreza,
.resistencia,
.carisma,
.manipulacion,
.compostura,
.inteligencia,
.astucia,
.resolucion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.name,
.cronica,
.sire,
.concept,
.ambicion,
.deseo,
.depredador,
.clan,
.generation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name-input,
.cronica-input,
.sire-input,
.concept-input,
.ambicion-input,
.deseo-input,
.depredador-input,
.clan-input,
.generation-input {
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.atributos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.habilidades-attr-container {
  justify-content: space-between;
}

.atributos-container > div {
  width: 32%;
  text-align: center;
}

.atributos-container section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-right: solid 1px;
}
.habilidades-attr-container section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.atributos-container section h3,
.atributos-container section div,
.habilidades-attr-container section h3 {
  width: 50%;
}

.life-points {
  display: flex;
  justify-content: center;
  text-align: center;
}
.habilidades {
  text-align: center;
  text-transform: uppercase;
  color: rgb(183, 122, 124);
  border-bottom: 2px solid rgb(183, 122, 124);
}
.disciplinas-tittle {
  text-align: center;
}

.disciplinas-attr-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(12, 50px);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.disciplinas-attr-container > div > input {
  border: none;
  background: rgb(251, 245, 237);
}
.disciplinas-attr-container > div {
  padding-left: 15px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.final-page1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.final-page1 > div {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-page1 > div > h2 {
  font-size: 0.9em;
}
.final-page1 > div:nth-child(1) {
  justify-content: flex-start;
}
.final-page1 > div:nth-child(1) h2 {
  width: 20%;
}
.final-page1 > div:nth-child(1) div {
  padding-top: 10px;
  width: 72%;
  border-bottom: dotted 1px;
}
.link-page2 {
  position: fixed;
  top: 50%;
  border: 1px solid;
  border-radius: 20%;
  background: white;
  text-decoration: none;
  color: black;
}
