.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
}

.page-general {
  display: grid;

  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  align-content: center;
}

.concept-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.concept-container > div {
  padding-left: 15px;
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.concept-container > div > input {
  position: relative;
  width: 100%;
  border: none;
}

.atributos-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
}
.atributos {
  text-align: center;
  border-bottom: 1px solid black;
}

.fuerza,
.destreza,
.resistencia,
.carisma,
.manipulacion,
.compostura {
  /* border-right: 1px solid black; */
  margin-right: 5px;
}

.fuerza,
.destreza,
.resistencia,
.carisma,
.manipulacion,
.compostura,
.inteligencia,
.astucia,
.resolucion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.name,
.cronica,
.sire,
.concept,
.ambicion,
.deseo,
.depredador,
.clan,
.generation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name-input,
.cronica-input,
.sire-input,
.concept-input,
.ambicion-input,
.deseo-input,
.depredador-input,
.clan-input,
.generation-input {
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.atributos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.atributos-container > div {
  width: 32%;
  text-align: center;
}

.atributos-container section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-right: solid 1px;
}
.atributos-container section h3,
.atributos-container section div {
  width: 50%;
}

.life-points {
  display: flex;
  justify-content: center;
  text-align: center;
}
